.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* body, .content{
  background-color: white!important;
} */


@media only screen and (max-width: 1922px) {
    .col-md-4, form .mb-5{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
@media only screen and (max-width: 922px) {
    .display-6{
        font-size: 40px;
    }
    .res-1200 .responsive {
      display: none!important;
    }
    .res-922{
      width: 100%;
    }
    .res-1200{
      flex-direction: row!important;
    }
}
@media only screen and (min-width: 922px) and (max-width: 1199px) {
  .responsive {
    margin-top: 0;
    width: 50%!important;
  }
  .responsive img {
    /* margin-top: -8rem; */
    width: 100%!important;
  }
   #signupForm {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
  body{
    overflow: hidden;
  }
  .form{
    width: 100%!important;
  }
  .res-1200, .res-922{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw!important;
  }
  .res-600{
    width: 100%!important;
  }
  .bottom-headline{
    margin-top: 11rem;
  }
}
@media only screen and (max-width: 350px) {
  .bottom-headline{
    margin-top: 0!important;
  }
}
@media only screen and (min-width: 1200px) {
  .responsive img{
    /* margin-top: -20%; */
    width: 650px!important;
    height: 650px!important;
  }
}