@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Comfortaa:wght@300..700&family=Handlee&family=Lobster&family=Poppins:wght@500&display=swap');

.OTPForm {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  --tomato: #fa5656;
  font-family: Helvetica, sans-serif;
  border: 2px solid var(--glow-color);
  padding: 25px;
  display: flex;
  max-width: 420px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Comfortaa", sans-serif;
  color: var(--night-rider);
  border-radius: 8px;
  position: relative;
  height: 100%;
  
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, .15); */
}

/*----heading and description-----*/

.info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6d37a3cb;
}

.description {
  margin-top: 10px;
  font-size: 1rem;
}

/*----input-fields------*/

.OTPForm .input-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.OTPForm .input-fields input {
  height: 2.5em;
  width: 2.5em;
  outline: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(70, 7, 99);
  border-radius: 10px;
  border: 2.5px solid rgba(70, 7, 99, 0.283);
  /* background-color: #493f3f91; */
}

.OTPForm .input-fields input:focus {
  border: 1px solid var(--night-rider);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .15);
  transform: scale(1.05);
  transition: 0.5s;
}

/*-----verify and clear buttons-----*/

.action-btns {
  display: flex;
  margin-top: 20px;
  gap: 0.5rem;
}

.verify {
    margin-top: 2rem;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  text-shadow: none;
  background: #5300a7;
  box-shadow: transparent;
  transition: 0.5s ease;
  user-select: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.verify:hover,.verify:focus {
  color: var(--white);
  background: #5400a79f;
}

.clear {
  padding: 10px 20px;
  margin-top: 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--night-rider);
  text-shadow: none;
  background: transparent;
  transition: 0.5s ease;
  user-select: none;
  font-weight: bold;
}

.clear:hover,.clear:focus {
  color: var(--tomato);
  background-color: var(--white);
  border: 1px solid var(--tomato);
}