@media only screen and (max-width: 922px) {
    .col-md-8{
        display: none;
    }
    .col-md-4{
        width: 80%;
    }
    #signupForm {
        width: 100%;
    }
}
@media only screen and (min-width: 922px) and (max-width: 1199px) {
  .col-md-8{
    width: 50%;
  }
  #signupForm {
        width: 100%;
    }
  .responsive{
    margin-top: -20%;
    width: 650px!important;
    height: 650px!important;
  }
}
@media only screen and (min-width: 1200px) {
  .col-md-8{
    width: 50%;
  }
  #signupForm {
    width: 100%;
  }
}